@use "base/variables" as v;
@use "base/mixins" as m;

.dashboard {
    background-color: v.$grisClaro;
    @include m.tablet {
        display: flex;
        height: 100vh; //-> vh es viewport height
    }

    .principal {
        flex: 1; //  para forzar a que el componente "principal" toome todo el espacio disponible
        overflow: scroll;
    }

    .contenido {
        padding: 2rem;
        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
            border-radius: 1rem;
        }

        input[type="submit"] {
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;
            border-radius: 1rem;
        }
    }
}
